/* details.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: thistle;
}

header {
    background-color: white;
    color: black;
    padding: 10px 0;
    text-align: center;
}

#location-details {
    padding: 20px;
}

.activity {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f4f4f4;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.activity:hover {
    background-color: #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.activity h3 {
    margin: 0;
}
.activity p {
    margin: 5px 0;
}